menuconfig HI1102_PLATFORM
	tristate "Hisilicon Wireless Connectivity Hi11xx Platform Module"
	depends on CONNECTIVITY_HI110X
	default m



if HI1102_PLATFORM

config HI1102_PLAT_HW_CHR
  bool "Hisilicon 1102 platform chr log"
  default y



config HI1102_PLAT_OAL
  bool "Hisilicon 1102 platform oal module"
  default y
  select HI110X_SDIO_STD_CARD_SUPPORT
  select HI110X_SDIO_DETECT_FUNCTION



config HI1102_PLAT_FRW
  bool "Hisilicon 1102 platform framework module"
  default y



config HI1102_PLAT_OAM
  bool "Hisilicon 1102 platform oam module"
  default y



config HI1102_PLAT_SDT
  bool "Hisilicon 1102 platform sdt module"
  default y



config HI1102_PLAT_PS
  bool "Hisilicon 1102 platform ps module"
  default y



config HI1102_PLAT_PM
  bool "Hisilicon 1102 platform power manager module"
  default y



config HI1102_PLAT_MAIN
  bool "Hisilicon 1102 platform main module"
  default y



config HI110X_PLAT_BB
  bool "Hisilicon 110x platform bbox  module"
  default n



endif
