menu "Honor Related Thread Group"

config HONOR_RTG
	bool "Honor Related Thread Group"
	default n
	help
	  Set real time scheduler for dedicated thread

config HONOR_RTG_BOOST
	bool "Honor Related Thread Group"
	default n
	help
	  Sensing boost in RTG groups

config HONOR_RTG_NORMALIZED_UTIL
	bool "Honor RTG Normalized Util and Preferred-Cluster"
	depends on HONOR_RTG
	default n
	help
	  Use normalized util as rtg util, also enabled Preferred-Cluster

config CLUSTER_NORMALIZED_UTIL
	bool "Global Normalized Util and Preferred-Cluster"
	default n
	help
	  Use user set freq as min freq, also enabled Preferred-Cluster

config HONOR_RTG_UCLAMP_UTIL
	bool "Honor RTG Uclamp Util"
	depends on HONOR_RTG
	depends on SCHED_TASK_UTIL_CLAMP
	default n
	help
	  Used uclamp min util as rtg util

config HONOR_RTG_WALT
	bool "Use WALT to track the RTG tasks load"
	depends on HONOR_RTG
	default n
	help
	  Set real time scheduler for dedicated thread

config HONOR_RTG_CPU_TIME
	bool "Steal CPU time from RTG"
	depends on HONOR_RTG_WALT
	help
	  Record cpu_time in RTG Group

config HONOR_RTG_FRAME
	bool "Frame RTG Scheduling"
	depends on HONOR_RTG
	default n
	help
	  Use frame_rtg group

config HONOR_RTG_AUX
	bool "RTG AUX Group"
	depends on HONOR_RTG_FRAME
	default n
	help
	  Use honor rme optimize

config HONOR_RTG_FRAME_RME
	bool "Frame RTG RME Optimize"
	depends on HONOR_RTG_FRAME
	default n
	help
	  Use honor rme optimize

config HONOR_RTG_DEBUG
	bool "Honor RTG DebugFS"
	depends on HONOR_RTG_FRAME || HONOR_RTG_AUX
	default n
	help
	  If set, debug node will show rtg threads
	  /proc/sched_frame_debug
	  /proc/sched_aux_debug

config HONOR_RTG_TRACE
	bool "Honor RTG Tracing"
	depends on HONOR_RTG
	default n
	help
	  If set, there will be rtg tag on systrace

config HONOR_RTG_PERF_CTRL
	bool "Honor RTG Perl Ctrl Interface"
	depends on HONOR_RTG
	depends on HONOR_PERF_CTRL
	default n
	help
	  Use the /dev/hw_perf_ctrl to operate the RTG through ioctl.

config HONOR_RTG_FRAME_NO_FORCE_FAST_DOWN
       bool "Schedutil frame_update do not force skip_min_sample_time"
       depends on !HONOR_BOOST
       default n
       help
         Boosted scene like appstart do not want cpu to fast ramp
         down. Frame sched should not break it. This option won't
         set skip_min_sample_time for freq update marked by
         sched_set_group_normalized_util() if userspace has
         configured fast_ramp_down to 0.
         Please say Y.

config HONOR_RTG_PSEUDO_TICK
	bool "update rtg by pseudo tick"
	depends on HONOR_RTG_FRAME
	default n
	help
	  In the 120-frame scenario, the tick is used to update the
	  RTG information. Therefore, high-precision timers are used
	  to implement pseudo ticks.

config USE_RTG_FRAME_SCHED
	bool "use rtg frame sched full function"
	depends on HONOR_RTG_FRAME
	default n
	help
	  If this cfg is diabled, we only use RT function of RTG_FRAME,
	  margin and min_util setting not work.

config AUX_RTG_BOOST_UTIL
	bool "boost_util function for aux-rtg threads"
	depends on HONOR_RTG_AUX
	default n
	help
	  If this config is disabled, we only set RT function of AUX-RTG threads.

config HONOR_RTG_KEY_LIST
	bool "switch for rtg key threads list"
	depends on HONOR_RTG
	default n
	help
	  If enabled, we support rtg key threads list.

choice
	prompt "Honr RTG util control mode"
	default HONOR_RTG_FRAME_USE_NORMALIZED_UTIL if HONOR_RTG_NORMALIZED_UTIL
	default HONOR_RTG_FRAME_USE_MIN_UTIL if !HONOR_RTG_NORMALIZED_UTIL
	default HONOR_RTG_FRAME_USE_MIN_UTIL if !HONOR_CPU_FREQ_GOV_SCHEDUTIL
	help
	  Provides multiple methods to deliver the RTG util to control
	  core selection and frequency modulation.

config HONOR_RTG_FRAME_USE_MIN_UTIL
	bool "change group util by min util"
	depends on HONOR_RTG_UCLAMP_UTIL
	depends on HONOR_RTG_FRAME
	help
	  This is done by setting min util for all threads in the RTG group.

config HONOR_RTG_FRAME_USE_NORMALIZED_UTIL
	bool "change group util by normalized util"
	depends on HONOR_RTG_NORMALIZED_UTIL
	help
	  This is done by setting normalized-util and prefer-cluster for
	  the RTG group.
endchoice
endmenu
