menu "HONOR RT Capacity Aware"

config HONOR_RT_CAS
	bool "HONOR RT Capacity Aware RQ Selection"
	default n
	help
	  RT tasks detects capacity when CPU selection.

config HONOR_RT_ACTIVE_LB
	bool "HONOR RT Capacity Aware Misfit Task"
	default n
	help
	  Check and migrate the RT process to a more suitable
	  CPU in the tick.

endmenu
